 
 <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <span class="badge badge-danger badge-counter">{{notifs | length }}</span>
              </a>
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Notifications
                </h6>
                {% if notifs | length == '0' %}
                 <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-warning">
                      <i class="fas fa-exclamation-triangle text-white"></i>
                    </div>
                  </div>
                  <div>
                   Pas de notifications
                  </div>
                </a>
                {% endif %}
                {%  for notif in notifs %}
                {% if notif.code == "PATIENT" %}
                  <a class="dropdown-item d-flex align-items-center" href="{{ path ('editPP',{'email':notif.EmailUser})}}">
                  <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div>
                    <span class="font-weight-bold">Un nouveau utilisateur a rejoint echkili</span>
                  </div>
                </a>
                {% endif %}
                {% if notif.code == "MEDECIN" %}
                <a class="dropdown-item d-flex align-items-center" href="{{ path ('editPP',{'email':notif.EmailUser})}}">
                  <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div>
                    <span class="font-weight-bold">Un nouveau medecin a rejoint echkili</span>
                  </div>
                </a>
                {% endif %}
                {% endfor %}
                  <a class="dropdown-item text-center small text-gray-500" href="{{ path ('deletenotif')}}">Supprimer les notifications</a>
                
              </div>
            </li>