{% extends "base.html.twig" %}
{% block body %}
<center>

<br></br>
<br></br>
<br></br>
				<h1>Utiliser ce Qr-Code pour prouver votre participaion !</h1>
<br></br>
<br></br>

				
<img src="{{ qr }}" alt="QR code" style="height:25%;width:25%"/>

{% endblock %}