{% extends "dashboard.html.twig" %}
{% block body %}

	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Liste des categories</h1>
	</div>

	<div
		class="col-lg-12 mb-4">
		<!-- Simple Tables -->
		<div class="card">

			<div class="table-responsive">
				<table class="table align-items-center table-flush">
					<thead class="thead-light">
						<tr>
							<th>Category ID</th>
							<th>Nom du categorie</th>
							<th>Modifier categorie</th>
							<th>Supprimer categorie</th>
						</tr>
					</thead>
					<tbody>
						{% for category in categories %}

							<tr>

								<td>{{category.id}}</td>
								<td>{{category.name}}</td>
								<td>
									<button type="submit" class="btn btn-primary mb-1" onclick="window.location.href='{{ path('updateCategory', { id: category.id }) }}'">
										Modifier
									</button>
								</td>
								<td>
									<a href=" {{path('deleteCategory' , {'id': category.id} ) }} " class="btn btn-danger ">
										<i class="fas fa-trash"></i>
									</a>
								</td>
							</tr>
						</tbody>
					</tbody>
				</tr>
			{% endfor %}


		</tbody>
	</table>
</div>{% endblock %}
