{% block body %}
<div class="container">
  <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="col-md-6">
      <div class="card text-center">
        <div class="card-body">
          <img src="{{ asset('dashboard/img/error.svg') }}" class="img-fluid mb-4" style="max-height: 200px;" alt="Page Not Found">
          <h1 class="card-title text-danger">Oops!</h1>
          <p class="card-text lead text-muted mb-5">Nous n'avons pas trouvé la page que vous cherchiez.</p>
          <a href="{{ path('home') }}" class="btn btn-primary">&larr; Retour au tableau de bord</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}