#notes {
    display: none;
    width: 100%
}

#cv {
    display: none;
    width: 100%
}

#steps {
    display: none;
    width: 100%
}

#card1 {
    background: aliceblue
}

.error-messages {
    color: #de4436;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#file-upload-filename {
    margin-top: 7px;
    margin-left: 7px;
    color: #3f87f5;
}

.call-to-action {
    justify-content: center;
}

.call-to-action a {
    margin-right: 5px;
}

@media screen and (max-width: 1799px) {
    .call-to-action a {
        width: 48%;
        margin-left: 0px !important;
        margin-bottom: 10px;
    }
    .call-to-action.row {
        display: block;
    }
}