{% extends 'base.html.twig' %}
{% block title %}
	Ajouter une demande
	{{ parent() }}
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block body %}
	<div
		class="page-container">
		<!-- Content Wrapper START -->
		<div class="main-content" id="add-demande">
			<div class="card">
				<div class="card-body">
					<h4>Ajouter une demande</h4>
					<form method="post">
						<div class="m-t-25">
							<div class="row">
								<div class="col-md-5">
									<label>Type:</label>
									<select required class="custom-select" @change="onChange($event)" name="type" v-model="selected">
										<option value="PV">Congés payés</option>
										<option value="UV">Congés sans solde</option>
										<option value="RTT">RTT, le cas échéant</option>
										<option value="SICK">Arrêts maladie</option>
										<option value="PERMIT">Autorisation de sortie</option>
										<option value="SAL">Avance sur salaire</option>
										<option value="MAT">Congés maternité et congés paternité</option>
										<option value="MARIAGE">Absences pour mariage, naissance ou décès d’un proche</option>
										<option value="OVERTIME">Récupération d’heures supplémentaires</option>
										<option value="DOC">Document (Autorisation de travail…)</option>
									</select>
								</div>

								<div class="col-md-7 row" v-if=" (selected ==='PV') || (selected ==='UV') || (selected ==='SICK') || ( selected ==='MAT') || ( selected ==='MARIAGE') || (selected ==='OVERTIME') ">
									<div class="col-md-6">
										<label>Le nombre de jours:</label>
										<input type="number" required name="days" class="form-control m-b-15" placeholder="Nombre de jours">
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>Choisir la date:</label>
											<div class="d-flex align-items-center">
												<input required type="text" class="form-control datepicker-input" name="startDate" placeholder="De">
												<span class="p-h-10">à</span>
												<input required type="text" class="form-control datepicker-input" name="endDate" placeholder="à">
											</div>
										</div>
									</div>
								</div>	

								<div class="col-md-7 row" v-if="(selected ==='SAL') ">
									<div class="col-md-6">
										<label>Montant d'avance :</label>
										<input type="number" required name="salary" class="form-control m-b-15" placeholder="Avance sur salaire">
									</div>
								</div>

								<div class="col-md-7 row" v-if="(selected ==='PERMIT') ">
									<div class="col-md-4">
										<div class="form-group">
											<label>Choisir le jour :</label>
											<div class="input-affix m-b-10">
												<i class="prefix-icon anticon anticon-calendar"></i>
												<input type="text" name="startDate" class="form-control datepicker-input" placeholder="Choisir la date">
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<label>L'heure de début:</label>
										<input type="time" required name="startTime" class="form-control m-b-15" placeholder="l'heure de début">
									</div>
									<div class="col-md-4">
										<label>L'heure de fin:</label>
										<input type="time" required name="endTime" class="form-control m-b-15" placeholder="l'heure de fin">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<label>Motif:</label>
									<textarea required aria-label="With textarea" rows="10" name="motif" class="form-control m-b-15" placeholder="Votre motif"></textarea>
								</div>
							</div>
							{% for message in app.flashes('error') %}
								<div class="alert alert-danger m-t-20">
									{{ message }}
								</div>
							{% endfor %}

							<div class="m-t-25 form-group text-right">
								<button type="submit" class="btn btn-primary">Envoyer</button>
								<button type="reset" class="btn btn-danger">Annuler</button>

							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

	{% endblock %}
	{% block javascripts %}
		{{ parent() }}
	{% endblock %}