<footer class="footer-area">
	<div class="footer section_padding">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-xl-2 col-md-4 col-sm-6 single-footer-widget">
					<a href="#" class="footer_logo">
						<img src="/PIDEV-main1/public/assets/img/echkilii.png" alt="echkilii.png">
					</a>
					<p></p>
					<div class="social_logo">
						<a href="https://www.facebook.com/Halouani.m">
							<i class="ti-facebook"></i>
						</a>
						<a href="#">
							<i class="ti-twitter"></i>
						</a>
						<a href="https://www.instagram.com/maryem_bouchahouua/">
							<i class="ti-instagram"></i>
						</a>
						<a href="#">
							<i class="ti-skype"></i>
						</a>
					</div>
				</div>
				<div class="col-xl-2 col-sm-6 col-md-4 single-footer-widget">
					<h4>Quick Links</h4>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Forum</a></li>
						<li><a href="#">Evenements</a></li>
						<li><ahref="{{path('app_liste')}}">Rendez-vous</a></li>
						<li><a href="#">Produit</a></li>
						<li><a href="#">Mood</a></li>

					</ul>
				</div>

				<div class="col-xl-2 col-sm-6 col-md-6 single-footer-widget">
					<h4>Resources</h4>
					<ul>
						<li><a href="https://www.tobba.tn/">tobba.tn</a></li>
						<li><a href="https://www.logicieldrsante.com/">DrSanté</a></li>
						<li><a href="https://www.dabadoc.com/medecins-ariana/page/43?gclid=CjwKCAiAjPyfBhBMEiwAB2CCIgtg-_DKoBXQgqDmKVuVfTNu-r59U0ZRZ1fZn_wcHtAvPuHsVuJg5RoCgcgQAvD_BwE">DabbaDoc</a></li>
						<li><a href="https://www.med.tn/">Med.tn</a></li>
					</ul>
				</div>
				<div class="col-xl-3 col-sm-6 col-md-6 single-footer-widget">
					<h4>Contact us</h4>
					<p>+216 54 300 673</p>
					<p>eshkili@eshkili.tn</p>


				</div>
			</div>
		</div>
	</div>

	<div class="copyright_part">
		<div class="container">
			<div class="row align-items-center">
				<p
					class="footer-text m-0 col-lg-8 col-md-12">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;<script>
						document.write(new Date().getFullYear());
					</script>
					All rights reserved | This template is made with love<i class="ti-heart" aria-hidden="true"></i>
					by
					<a href="https://www.facebook.com/profile.php?id=100090108211133" target="_blank">MRS_DEV</a>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</p>
				<div class="col-lg-4 col-md-12 text-center text-lg-right footer-social">
					<a href="https://www.facebook.com/Halouani.m">
						<i class="ti-facebook"></i>
					</a>
					<a href="#">
						<i class="ti-twitter"></i>
					</a>
					<a href="https://www.instagram.com/maryem_bouchahouua/">
						<i class="ti-instagram"></i>
					</a>
					<a href="#">
						<i class="ti-skype"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>
