<div class="team-grids-caption">
								<div class="container">
									<div class="team-grids-caption-left">
										<h4>He point of using Lorem Ipsum is that</h4>
										<p>as opposed to using Many desktop publishing packages and web page editors now use </p>
									</div>
									<div class="team-grids-caption-right">
										<a class="team-btn" href="contact.html">Contact</a>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>