{% block body %}
<p> Réinitialiser votre mot de passe <p>
<p>Votre mot de passe doit etre different de l'ancien</p>
<p>Lien de réinitialisation de votre mot de passe :>Lien de réinitialisation</p>
{% endblock %}